<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">
        
  <bean id="Car" class="com.sathya.Springex.Car" >
  <property name="fuelType" value="petrol"/>
  <property name="maxspeed" value="100"/>
  </bean>
  
   <bean id="Bus" class="com.sathya.Springex.Bus" >
  <property name="busType" value="volvo"/>
  <property name="maxspeed" value="150"/>
  </bean>
  
   <bean id="traveller" class="com.sathya.Springex.Traveller" >
  <property name="name" value="vamsi"/>
  <property name="mobile" value="9014392677"/>
  <property name="email" value="Vamsisanamandra0@gmail.com"/>
  <property name="vehicle" ref="Car"/>
  
  </bean>
   </beans>